.second,
.third,
.fourth,
.sixth,
.seventh {
	&__flex {
		display: flex;
		flex-direction: row;
		text-align: center;
		align-items: center;
		padding: 8vh;
		justify-content: center;
	}
	&__element {
		padding: auto;
		flex: 50%;
	}
}

.footer {
	&__flex {
		display: flex;
		flex-direction: row;
		margin: 0 4vh;
	}
	&__element {
		padding: auto;
		flex: 50%;
	}
	&__centeritems {
		display: flex;
		flex-direction: row;
	}
	&__centerflex {
		flex: 50%;
	}
}
