.header__logo {
	width: 190px;
	height: 70px;
	margin: 1em;
}

/** NAVIGATION ELEMENTS **/
.header {
	max-width: 1700px;
	position: fixed;
	width: 100%;
}

.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	&__item,
	&__itemlink {
		display: block;
		padding: 20px 10px;
		text-decoration: none;
	}
}

/* menu */

.header .menu {
	clear: both;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 30px 30px;
	position: relative;
	user-select: none;
}

/* TOGGLER */
.header .menu-icon .navicon {
	background: rgb(255, 255, 255);
	display: block;
	height: 2px;
	position: relative;
	transition: background 0.2s ease-out;
	width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
	background: rgb(255, 255, 255);
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	transition: all 0.2s ease-out;
	width: 100%;
}

/*TOGGLER'S X */

.header .menu-icon .navicon:before {
	top: 5px;
}

.header .menu-icon .navicon:after {
	top: -5px;
}

/* menu btn */

.header .menu-btn {
	display: none;
}

.header .menu-btn:checked ~ .menu {
	max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
}
