/** LOGO **/
.header__logo {
	width: 190px;
	height: 70px;
	margin-top: 1.2em;
	margin-left: 1.2em;
}

/** NAVIGATION ELEMENTS **/
.header {
	border: none;
	max-width: 1700px;
	position: absolute;
}

.capsule {
	height: auto;
	padding: 0;
	margin: 0;
}

.navbar {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

.wrapper {
	input[type="checkbox"] {
		display: none;
	}

	.menu {
		margin: 0;
		padding: 1rem 1rem;

		.header__elements {
			list-style-type: none;

			.header__link {
				text-decoration: none;
				display: block;
				cursor: pointer;
				color: rgb(77, 77, 77);
				padding-bottom: 2rem;
				margin-left: 1rem;
			}
		}
	}
}

/** TEXT POSITION FOR BACKGROUND **/

.background {
	&__text {
		position: relative;
		top: 33vh;
		left: 25vh;
		width: 50%;
	}
	&__textmain {
		font-size: 5em;
		margin: 0%;
		padding: 0%;
		color: white;
	}
	&__textlight {
		font-size: 1.5em;
		font-style: italic;
		color: wheat;
		margin: 0%;
		padding: 0%;
	}
}
