/*THIS IS FOR ALL THE ELEMENTS THAT REPEAT THEMSELVES */
a {
  color: white;
  margin-left: 3vh;
  text-decoration: none;
  font-weight: bold;
  font-size: 2vh;
}

/*BUTTONS*/
.btn {
  text-transform: uppercase;
  font-size: 12px;
  padding: 10px 35px;
  border: 3px solid white;
  background: transparent;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-left: 1em;
}

.up {
  font-size: 15px;
  padding: 18px 40px;
  margin-top: 1em;
}

/* THIS IS FOR THE SECTIONS */
/** LOGO **/
.header__logo {
  width: 190px;
  height: 70px;
  margin-top: 1.2em;
  margin-left: 1.2em;
}

/** NAVIGATION ELEMENTS **/
.header {
  border: none;
  max-width: 1700px;
  position: absolute;
}

.capsule {
  height: auto;
  padding: 0;
  margin: 0;
}

.navbar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper input[type="checkbox"] {
  display: none;
}

.wrapper .menu {
  margin: 0;
  padding: 1rem 1rem;
}

.wrapper .menu .header__elements {
  list-style-type: none;
}

.wrapper .menu .header__elements .header__link {
  text-decoration: none;
  display: block;
  cursor: pointer;
  color: #4d4d4d;
  padding-bottom: 2rem;
  margin-left: 1rem;
}

/** TEXT POSITION FOR BACKGROUND **/
.background__text {
  position: relative;
  top: 33vh;
  left: 25vh;
  width: 50%;
}

.background__textmain {
  font-size: 5em;
  margin: 0%;
  padding: 0%;
  color: white;
}

.background__textlight {
  font-size: 1.5em;
  font-style: italic;
  color: wheat;
  margin: 0%;
  padding: 0%;
}

.second__flex,
.third__flex,
.fourth__flex,
.sixth__flex,
.seventh__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second__element,
.third__element,
.fourth__element,
.sixth__element,
.seventh__element {
  padding: auto;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 4vh;
}

.footer__element {
  padding: auto;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.footer__centeritems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__centerflex {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.subs {
  float: right;
}

/*! FOOTER !*/
.footer {
  background: #ff865a;
  /*THESE ARE THE BASICS*/
  /*THESE ARE FOR THE LEFT*/
  /*THESE ARE FOR THE CENTER*/
  /*THESE ARE FOR THE RIGHT*/
}

.footer__break {
  border: 1px solid white;
}

.footer__element {
  padding: 3em;
}

.footer__capsule {
  padding-left: 6vh;
}

.footer__lefitems {
  text-align: left;
}

.footer__leftsocial {
  text-align: left;
}

.footer__links {
  font-size: 1em;
  font-weight: 100;
  margin: 0;
}

.footer__centerlist {
  text-align: left;
  list-style: none;
  padding-bottom: 2vh;
}

.footer__rightitems {
  display: block;
}

.footer__img {
  width: 50px;
  height: 50px;
  margin: 2vh;
  border: 3px solid white;
  border-radius: 4px;
}

.footer__inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__inlinetext {
  margin-top: 3vh;
  text-align: center;
}

/* THIS IS FOR THE SOCIAL MEDIA ICONS */
.fa {
  padding-top: 12px;
  font-size: 1.2em;
  text-align: left;
  text-decoration: none;
  margin: 0.5px;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #55acee;
}

.fa-youtube {
  color: #bb0000;
}

.fa-tumblr {
  color: #2c4762;
}

/* MADE UP SAFE SPACE */
.container {
  width: auto;
  max-width: 1700px;
}

/** THESE ARE FONT VALUES */
/*FOR MINI TITLES*/
.minimum {
  font-size: 1em;
  padding-bottom: 1em;
  text-align: center;
  color: #f0702b;
}

/*FOR BIG TITLES*/
.maximum {
  font-size: 4rem;
  text-align: center;
  color: #333232;
}

/*FOR ALL H4*/
.filler {
  font-size: 30px;
  padding-top: 2vh;
  color: #f0702b;
}

/* FOR THE TEXT */
.fuller {
  font-size: 17px;
  padding-top: 4vh;
  text-align: center;
  color: #3a3a3a;
}

/*FOR THE LINKS */
.common {
  font-size: 20px;
  font-weight: bold;
  margin-left: 0;
  color: #f0702b;
}

/* THESE ARE GENERAL VALUES PER SECTION */
/*! FIRST !*/
.background {
  background-image: url(../img/wallpaper_1.png);
  height: 100vh;
  width: auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin: 0%;
}

/*!SECOND!*/
.second {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.second__flex {
  padding: 3vh 10vh;
}

.second__element {
  padding: 3vh;
}

.second__logo {
  width: 300px;
  height: 300px;
  padding: 0;
}

/*! THIRD & SIXTH !*/
.third {
  margin-top: 10vh;
  padding: 2vh;
}

.third,
.sixth {
  background: #ff865a;
}

.third__text,
.sixth__text {
  text-align: left;
  padding: 2vh;
}

/*! FOURTH !*/
.fourth__flex {
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.fourth__logo {
  width: 150px;
  height: 150px;
}

/* !FIFTH! */
.fifth__flex {
  max-width: 1600px;
}

.fifth__wrapper {
  text-align: center;
  padding-top: 6vh;
}

.fifth__block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5vh;
}

.fifth__text {
  padding: 6vh;
  font-size: 1.5em;
}

.fifth__circle {
  border: 10px solid #ff865a;
  border-radius: 50%;
}

.fifth__sub {
  font-size: 1em;
}

/*! SIXTH !*/
.sixth .discover {
  padding: 20px 80px;
  font-size: 1.5em;
  font-weight: bold;
}

/*! SEVENTH !*/
.seventh {
  margin-top: 4vh;
  padding: 3vh 1vh;
}

.seventh__flex {
  padding-bottom: 0;
}

.seventh__element {
  padding: 1vh;
}

.seventh__text {
  padding: 2vh 3vh;
}

.seventh__bg {
  background: #ff865a;
  border-radius: 10px;
  padding: 4vh;
}

.seventh__quote {
  margin-top: 1vh;
}

.seventh__quote--item {
  font-size: 4em;
}

.seventh__block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.seventh__image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 2vh;
}

.seventh__description {
  padding: 4vh 1vh;
  text-align: left;
  color: white;
}

/*! EIGHT !*/
.eight {
  padding: 8vh;
  margin: 0;
}

.eight__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto;
  text-align: center;
  grid-gap: 1vh;
}

.eight__griditem {
  height: auto;
  border-radius: 5px;
  border: 4px solid #ffcdb6;
  background: #ffe0ca;
}

.eight__img {
  margin: 0.5em;
  width: 120px;
  height: 60px;
}

.eight a {
  margin: 0;
}

/* THIS IS FOR ALL THE MEDIA QUERIES */
/* MINIMUM RES */
/*THIS IS FOR THE NAVIGATION BAR */
@media only screen and (max-width: 768px) {
  .capsule {
    padding: 0 2rem;
    margin: 0 auto;
  }
  .header .navbar {
    padding: 1rem 0;
    display: block;
  }
  .header .navbar .wrapper label {
    font-size: 4rem;
    cursor: pointer;
    outline: none;
    border: none;
    padding-left: 2rem;
  }
  .header .navbar .wrapper input[type="checkbox"]:checked + ul {
    display: block;
  }
  .header .navbar .wrapper .menu {
    display: none;
  }
  .header .navbar .wrapper .menu .header__elements .header__link {
    padding: 1rem 1.5rem;
  }
}

@media only screen and (min-width: 769px) {
  .header .navbar .wrapper > label,
  .header .navbar .wrapper input[type="checkbox"] {
    display: none;
  }
  .header .navbar .wrapper .menu .header__elements {
    display: inline-block;
  }
  .header .navbar .wrapper .menu .header__elements .header__link {
    padding: 15px 20px;
  }
}

@media only screen and (min-width: 769px) {
  .header .navbar .wrapper > label,
  .header .navbar .wrapper input[type="checkbox"] {
    display: none;
  }
  .header .navbar .wrapper .menu .header__elements {
    display: inline-block;
  }
  .header .navbar .wrapper .menu .header__elements .header__link {
    padding: 15px 20px;
  }
}

/*THIS IS FOR THE GRID */
@media (max-width: 1300px) {
  .eight__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .eight {
    margin: 0;
    padding: 10%;
  }
  .eight__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

/** QUERY FOR BG **/
@media (max-width: 800px) {
  .background {
    background-image: url(../img/wallpaper_2.png);
    height: 100vh;
    width: auto;
  }
}

/** QUERIES FOR THE BACKGROUND TYPOGRAPHY**/
@media (max-width: 900px) {
  .header__logo {
    display: none;
  }
  .background {
    padding: 8%;
  }
  .background__text {
    padding: 0;
    margin: 0;
    position: relative;
    left: 3vh;
  }
  .background__textmain {
    position: relative;
    top: -5vh;
  }
  .background__textlight {
    display: none;
  }
  .background__text {
    padding: 0;
    margin: 0;
    position: relative;
    left: 3vh;
  }
  .btn {
    padding: 5px 80px;
    margin: 0;
    position: relative;
    bottom: 3vh;
    font-size: 2em;
    border: 5px solid white;
  }
}

@media (max-width: 500px) {
  .background__textmain {
    font-size: 3.6rem;
  }
}

/** QUERIES FOR RESPONSIVE FLEX **/
@media (max-width: 1000px) {
  .second__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2vh;
  }
}

@media (max-width: 800px) {
  .background {
    background-image: url(../img/wallpaper_2.png);
  }
  .second__flex,
  .third__flex,
  .fourth__flex,
  .sixth__flex,
  .seventh__flex,
  .footer__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2vh;
  }
  .third__image {
    display: none;
  }
  .third__text {
    padding-bottom: 6vh;
  }
  .third .joyful {
    padding: 20px 70px;
    font-size: 1.3em;
  }
  .fifth__block {
    padding: 2vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fifth__text {
    padding: 2vh;
    font-size: 1em;
  }
  .sixth {
    padding: 2vh;
  }
  .sixth h4 {
    font-size: 1.5em;
    margin-bottom: 7vh;
  }
  .sixth .discover {
    font-size: 1em;
  }
  .seventh__element {
    padding: 1vh;
  }
  .footer__element {
    padding: 0;
    margin: 0;
  }
  .footer__capsule {
    padding: 0;
    margin: 0;
  }
  /*EXTRAS */
  .subs {
    float: none;
    padding: 4px 20px;
    margin-top: 3vh;
    font-size: 10px;
    border: 2px solid white;
  }
  .fuller {
    font-size: 1em;
  }
}

/* THIS IS FOR ALL THE BASIC ELEMENTS */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

/* PROJECT START */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=styles.css.map */